.card{
    padding: 8px;
    max-width: 600px;
    display: flex;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
}

.img-tumb{
    margin-right: 10px;
}
.title{
    font-weight: 600;
    font-size: 18px;
}
.btn{
    border: none;
    padding: 12px 18px;
    border-radius: 4px;
    background-color: rgb(206, 26, 26);
    opacity: 1;
    color: white;
    outline: none;
}
.btn:hover{
    opacity: 0.8;
    cursor: pointer;
}